@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    margin: 20px;
}

/* Header */
header {
    /*border: 2px solid rgb(255, 255, 255);*/
    border-radius: 30px;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Papel\ De\ Parede\ Geométrico.jpeg);
    z-index: -1;
}

header h1 {
    color: white;
    position: relative;
    z-index: 1;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 57px;
}

/* section */
section {
    /*border: 2px solid rgb(255, 0, 0);*/
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Calculadora */
#Calculadora {
    /*border: 1px solid black;*/
    background-color: #2c2a2b;
    height: 400px;
    width: 350px;
    border-radius: 30px;
    -webkit-box-shadow: 9px 13px 24px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 9px 13px 24px -1px rgba(0, 0, 0, 0.59);
    box-shadow: 9px 13px 24px -1px rgba(0, 0, 0, 0.59)
}

#tela {
    border: 1px solid rgb(0, 0, 0);
    background-color: #97d0db;
    height: 100px;
    width: 325px;
    margin: 10px;
    border-radius: 30px;
    text-align: right;
    display: flexbox;
    justify-content: center;
    align-content: center;
}

#tela div {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 25px;
    margin-right: 15px;
}

#previa {
    display: flexbox;
    justify-content: start;
    text-align: end;
}



#corpo {
    border: 1px solid rgb(0, 0, 0);
    background-color: #b6b6b6;
    height: 250px;
    width: 325px;
    margin: 10px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;

}

#corpo button {
    border-radius: 30px;
    background-color: #808080;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 3px;

}

#igual {
    border-radius: 30px;
    background-color: #808080;
    color: rgb(255, 255, 255);
    font-size: large;
}


/* footer*/
footer {
    /*border: 2px solid rgb(68, 0, 255);*/
    height: 150px;
    margin-top: 10px;
    position: relative;
    border-radius: 30px;
    background-image: url(Papel\ De\ Parede\ Geométrico.jpeg);
    z-index: -1;
}